// Bootstrap
$primary: #f0f0f0;
$secondary: #282a4a;

// Custom
$bg-color: #3E4579;
$font-color-main: #ffe2D2;
$font-color-secondary: #3E4579;

// Buttons
$btn-primary-font-color: #3E4579;
$btn-secondary-font-color: #ffe2D2;

// Social buttons
$bg-btn-social: #ffe2D2;
$font-color-btn-social: #3E4579;
$bg-btn-social-hover: #3E4579;
$font-color-btn-social-hover: #ffe2D2;

// Form
$form-border-colors: #3E4579;
$form-border-colors-focus: #3E4579;