// General styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: $bg-color;
    color: $font-color-main;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow-x: hidden;
}

header,
section,
footer {
    width: 100%;
    float: left;
    padding: 60px 0;
}

a {
    color: $font-color-main;
    text-decoration: none;
    @include transition(ease, 0.3s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;

    strong {
        font-weight: 600;
    }
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

.cursive {
    font-family: 'Caveat', cursive;
}

.whatsapp {
    @include whatsapp-button;
}

#navbar {
    width: 100%;
    height: auto;
    font-size: 2rem;
    padding: 15px 30px;
    color: $font-color-main;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    a {
        color: $font-color-main;
    }

    .navbar-brand {
        font-size: 2rem;
        @include transition(ease, 0.2s);
    }

    .nav-link {
        font-size: smaller;
    }
}

.navbar-scroll {
    background-color: $bg-color;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 60px !important;
    }

    #mburger {
        // color: !important;
    }
}

.social {
    font-size: 1.4rem;

    li {
        a {
            background-color: $bg-btn-social;
            border-radius: 50%;
            color: $font-color-btn-social;
            width: 40px;
            height: 40px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                position: absolute;
            }

            &:hover,
            &:focus {
                background-color: $bg-btn-social-hover;
                color: $font-color-btn-social-hover;
            }
        }
    }
}

.jumbotron {
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-top {
    // background: url('../images/bg-section-1.png') no-repeat center;

    #book-title {
        width: fit-content;
        margin: 0 auto;

        h1 {
            font-size: 5rem;
            line-height: 1;

            strong {
                text-transform: uppercase;
            }
        }

        h2 {
            line-height: 0.6;
        }
    }
}

.jumbotron-bottom {
    // background: url('../images/bg-section-2.png') no-repeat center;

    text-align: center;

    h2 {
        text-transform: uppercase;
    }
}

#now-available {
    background: url('../images/bg-now-available.png') no-repeat center;
    background-size: cover;
    text-align: center;
    color: $font-color-secondary;

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
    }
}

footer {
    background: url('../images/bg-footer.png') no-repeat center;
    background-size: cover;
    color: $font-color-secondary;

    h2,
    h3,
    .left {
        text-transform: uppercase;
    }

    a {
        color: $font-color-secondary;
    }

    .form-control {
        background: transparent;
        border: 3px solid $form-border-colors;

        &:focus {
            background: transparent;
            border: 3px solid $form-border-colors-focus;
        }
    }
}